<section>
	TODO top 5 strelci (na zapas aj sezonu/total)
	<br />
	TODO top 5 nahravaci (na zapas aj sezonu/total)
	<br />
	TODO top 5 +/- body (na zapas aj sezonu/total)
	<br />
	TODO top 5 body (na zapas aj sezonu/total)
	<br />
	TODO top 5 brankarov podla cisteho konta (na zapas aj sezonu/total)
	<br />
	TODO top 5 hracov podla poctu hetrikov (na zapas aj sezonu/total)
	<br />
	TODO najvyssie vyhry / prehry (rozdiel aj absolutny pocet)
	<br />
	TODO najdlhsia vyherna seria (sezona/total)
	<br />
	TODO najdlhsia seria bez bodu (sezona/total)
	<br />
</section>