<form id="content" [formGroup]="matchForm" (ngSubmit)="saveMatch()">

	<section *ngIf="isAdmin()">
		<div class="button" [class.hidden]="!editable" (click)="addPlayer()">Add Player</div>
		<div class="button" type="submit" [class.hidden]="!editable || !matchForm.valid" (click)="saveMatch()">Save
		</div>
		<div class="button" [class.hidden]="editable" (click)="editMatch()">Edit</div>
		<div class="button" [class.hidden]="!editable || id == 0" (click)="deleteMatch()">Delete</div>
		<div class="button" [class.hidden]="!editable || id == 0" (click)="undoChanges()">Undo</div>
	</section>
	<div style="clear:both;"></div>

	<div *ngIf="editable">
		<section>
			<label>Dátum a čas:
				<input type="datetime-local" formControlName="dateTime" />
			</label>
			<label>Miesto:
				<select formControlName="placeId" [ngClass]="{ 'invalid': isInvalid(formControls.placeId) }">
					<option value="0">?</option>
					<option *ngFor="let place of places" [ngValue]="place.id">{{ place.name }}</option>
				</select>
			</label>
			<label>Match type:
				<select formControlName="matchTypeId" [ngClass]="{ 'invalid': isInvalid(formControls.matchTypeId) }">
					<option value="0">?</option>
					<option *ngFor="let matchType of matchTypes" [ngValue]="matchType.id">{{ matchType.name }}</option>
				</select>
			</label>
			<label>Súťaž:
				<select formControlName="competitionId"
					[ngClass]="{ 'invalid': isInvalid(formControls.competitionId) }">
					<option value="0">?</option>
					<option *ngFor="let competition of competitions" [ngValue]="competition.id">{{ competition.name }}
					</option>
				</select>
			</label>
		</section>
		<section>
			<label>Domáci:
				<select formControlName="homeTeamId" [ngClass]="{ 'invalid': isInvalid(formControls.homeTeamId) }">
					<option value="0">?</option>
					<option *ngFor="let team of teams" [ngValue]="team.id">{{ team.name }}</option>
				</select>
			</label>
			<label>Hostia:
				<select formControlName="awayTeamId" [ngClass]="{ 'invalid': isInvalid(formControls.awayTeamId) }">
					<option value="0">?</option>
					<option *ngFor="let team of teams" [ngValue]="team.id">{{ team.name }}</option>
				</select>
			</label>
			<label>Skóre domáci:
				<input style="width:128px" formControlName="homeTeamScore" placeholder="Skóre domáci ..."
					[ngClass]="{ 'invalid': isInvalid(formControls.homeTeamScore) }" />
			</label>
			<label>Skóre hostia:
				<input style="width:128px" formControlName="awayTeamScore" placeholder="Skóre hostia ..."
					[ngClass]="{ 'invalid': isInvalid(formControls.awayTeamScore) }" />
			</label>
		</section>
	</div>

	<div *ngIf="editable && matchForm.get('players').value.length > 0">

		<section>
			TODO nastavovanie class=invalid pre aj hracov v zapase
			<br />
			TODO rozjebany Remove button
		</section>

		<section>
			<label style="width:200px">Player</label>
			<label style="width:80px">Goals</label>
			<label style="width:80px">Assists</label>
			<label style="width:80px">+/-</label>
			<label style="width:80px">Yellow</label>
			<label style="width:80px">Red</label>
		</section>
		<div formArrayName="players" *ngFor="let ps of matchForm.get('players').value; let playerIndex = index;">
			<section [formGroupName]="playerIndex">
				<label>
					<select style="width:184px" formControlName="playerId">
						<option value="0">?</option>
						<option *ngFor="let player of orderedPlayerNames" [ngValue]="player.id">{{ player.name }}
						</option>
					</select>
				</label>
				<label>
					<input style="width:64px" formControlName="goals" placeholder="G" />
				</label>
				<label>
					<input style="width:64px" formControlName="assists" placeholder="A" />
				</label>
				<label>
					<input style="width:64px" formControlName="posNegPoints" placeholder="+/-" />
				</label>
				<label>
					<input style="width:64px" formControlName="yellowCards" placeholder="YC" />
				</label>
				<label>
					<input style="width:64px" formControlName="redCards" placeholder="RC" />
				</label>
				<label>
					<div class="button" (click)="removePlayer(playerIndex)">Remove</div>
				</label>
			</section>
		</div>
	</div>

	<div *ngIf="!editable && enumsLoaded && id != 0">
		<h1 class="center">
			<span [class.winner]="matchForm.get('homeTeamScore').value > matchForm.get('awayTeamScore').value">
				{{ getEnum('teams', matchForm.get('homeTeamId').value).name }}
				({{ matchForm.get('homeTeamScore').value }})
			</span>
			:
			<span [class.winner]="matchForm.get('homeTeamScore').value < matchForm.get('awayTeamScore').value">
				({{ matchForm.get('awayTeamScore').value }})
				{{ getEnum('teams', matchForm.get('awayTeamId').value).name }}
			</span>
		</h1>
		<div class="detail-tags">
			<div>{{ matchForm.get('dateTime').value | date: 'dd. MM. yyyy HH:mm, EEEE' }}</div>
			<div>{{ getEnum('competitions', matchForm.get('competitionId').value).name }}</div>
			<div>{{ getEnum('places', matchForm.get('placeId').value).name }}</div>
			<div *ngIf="isKontumacia()">Kontumácia</div>
		</div>
	</div>

	<div *ngIf="!editable && match != null && match.players != null && match.players.length > 0">
		<app-player-list *ngIf="enumsLoaded" [players]="match.players" [expandedView]="false"></app-player-list>
	</div>

	<div *ngIf="!editable && mutualMatches != null && mutualMatches.gamesPlayed > 0">
		<app-match-list *ngIf="enumsLoaded" [matches]="mutualMatches"></app-match-list>
	</div>

</form>