<div id="filter-container">
	<div class="filter">
		<select [(ngModel)]="seasonId" (change)="filter()">
			<option value="0">Any season</option>
			<option *ngFor="let item of seasons" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div>
	<div class="filter">
		<select [(ngModel)]="competitionId" (change)="filter()">
			<option value="0">Any competition</option>
			<option *ngFor="let item of competitions" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div>
	<div class="filter">
		<select [(ngModel)]="teamId" (change)="filter()">
			<option value="0">Any team</option>
			<option *ngFor="let item of teams" [value]="item.id">{{ item.name }}</option>
		</select>
	</div>
	<div class="filter">
		<select [(ngModel)]="placeId" (change)="filter()">
			<option value="0">Any place</option>
			<option *ngFor="let item of places" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div>
	<!-- <div class="filter">
		<select [(ngModel)]="matchResultId" (change)="filter()">
			<option value="0">Any result</option>
			<option *ngFor="let item of matchResults" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div> -->
	<!-- <div class="filter">
		<select [(ngModel)]="matchTypeId" (change)="filter()">
			<option value="0">Any match type</option>
			<option *ngFor="let item of matchTypes" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div> -->
</div>

<div id="content">
	<app-match-list *ngIf="enumsLoaded" [matches]="matches" [teamStats]="teamStats"></app-match-list>
</div>

