<div id="content">

	<section>
		<div class="button" (click)="clearCache()">Clear Cache</div>
	</section>
	<div style="clear:both;"></div>

	<app-enum enumName="teams"></app-enum>
	<app-enum enumName="seasons" addNotAllowed="true" modifyNotAllowed="true"></app-enum>
	<app-enum enumName="playerNames" addNotAllowed="true" modifyNotAllowed="true"></app-enum>
	<app-enum enumName="competitions"></app-enum>
	<app-enum enumName="places"></app-enum>
	<app-enum enumName="playerPositions"></app-enum>
	<app-enum enumName="matchTypes"></app-enum>
	<app-enum enumName="matchResults" addNotAllowed="true"></app-enum>
	<app-enum enumName="states"></app-enum>
</div>