<form id="content" [formGroup]="playerForm" (ngSubmit)="savePlayer()">

	<section>
		<div class="button" type="submit" [class.hidden]="!editable || !playerForm.valid" (click)="savePlayer()">Save
		</div>
		<div class="button" [class.hidden]="editable" (click)="editPlayer()">Edit</div>
		<div class="button" [class.hidden]="!editable || id == 0" (click)="deletePlayer()">Delete</div>
		<div class="button" [class.hidden]="!editable || id == 0" (click)="undoChanges()">Undo</div>
	</section>

	<div *ngIf="editable">
		<div style="clear:both;"></div>
		<section>
			<label>Meno:
				<input style="width:128px" formControlName="name" placeholder="?"
					[ngClass]="{ 'invalid': isInvalid(formControls.name) }" />
			</label>
			<label>Dátum narodenia:
				<input type="date" formControlName="dateOfBirth"
					[ngClass]="{ 'invalid': isInvalid(formControls.dateOfBirth) }" />
			</label>
			<label>Tím:
				<select formControlName="teamId" [ngClass]="{ 'invalid': isInvalid(formControls.teamId) }">
					<option value="0">?</option>
					<option *ngFor="let item of teams" [ngValue]="item.id">{{ item.name }}</option>
				</select>
			</label>
			<label>Post:
				<select formControlName="playerPositionId"
					[ngClass]="{ 'invalid': isInvalid(formControls.playerPositionId) }">
					<option value="0">?</option>
					<option *ngFor="let item of playerPositions" [ngValue]="item.id">{{ item.name }}</option>
				</select>
			</label>
			<label>Číslo na drese:
				<input style="width:128px" formControlName="number" placeholder="?" />
			</label>
			<label>Neaktívny hráč:
				<input formControlName="retired" type="checkbox" class="check" />
			</label>
		</section>
	</div>

	<h1 *ngIf="!editable && enumsLoaded && id != 0">
		<div class="detail-header">
			<div *ngIf="playerForm.get('number').value == null" class="center">{{ playerForm.get('name').value }}</div>
			<div *ngIf="playerForm.get('number').value != null" class="center">{{ playerForm.get('name').value }}
				#{{ playerForm.get('number').value }}</div>
		</div>
		<div class="detail-tags">
			<div *ngIf="playerForm.get('dateOfBirth').value != null">
				{{ getPlayerAge(playerForm.get('dateOfBirth').value) }} rokov</div>
			<div>{{ getEnum('playerPositions', playerForm.get('playerPositionId').value).name }}</div>
			<div>{{ getEnum('teams', playerForm.get('teamId').value).name }}</div>
			<div *ngIf="playerSeasons.length > 0">{{ playerSeasons.length }}
				{{ getStringMutation(playerSeasons.length, 'sezóna', 'sezóny', 'sezón') }}</div>
			<div *ngIf="playerForm.get('retired').value">Neaktívny</div>
		</div>
	</h1>

	<div *ngIf="!editable && enumsLoaded && playerSeasons.length > 1">
		<h2>Odohraté Sezóny</h2>
		<ul class="tags">
			<li *ngFor="let i of playerSeasons" (click)="getSeasonStats(i.id);">{{ i.name }}</li>
		</ul>
		<!-- <div style="display:table-cell;width:30%;" *ngIf="stats != null">
				<app-scoring-chart [stats]="stats"></app-scoring-chart>
			</div> -->
	</div>

	<div *ngIf="!editable && enumsLoaded && stats.length > 0 && playerMatches != null && playerMatches.gamesPlayed > 0">
		<h2>Bodovanie a Zápasy {{ seasonId }}/{{ seasonId + 1 }}</h2>
		<div class="top-matches">
			<div *ngFor="let m of bestScores">
				<a href="/match/{{ m.matchId }}">{{ m.score }} {{ m.scoreType }} proti
					{{ getEnum('teams', m.opponentTeamId).name }}</a>
			</div>
		</div>
		<app-scoring-timeline [matches]="playerMatches" [stats]="stats"></app-scoring-timeline>
	</div>

	<div *ngIf="!editable && playerMatches != null && playerMatches.gamesPlayed > 0">
		<br />
		<app-match-list [matches]="playerMatches"></app-match-list>
	</div>

</form>