<div id="filter-container">
	<div class="filter">
		<select [(ngModel)]="seasonId" (change)="filter()">
			<option value="0">Všetky sezóny</option>
			<option *ngFor="let item of seasons" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div>
	<!-- <div class="filter">
		<select [(ngModel)]="matchTypeId" (change)="filter()">
			<option value="0">Any match type</option>
			<option *ngFor="let item of matchTypes" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div> -->
	<div class="filter">
		<select [(ngModel)]="competitionId" (change)="filter()">
			<option value="0">Všetky súťaže</option>
			<option *ngFor="let item of competitions" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div>
	<div class="filter">
		<select [(ngModel)]="teamId" (change)="filter()">
			<option value="0">Všetci súperi</option>
			<option *ngFor="let item of teams" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div>
	<div class="filter">
		<select [(ngModel)]="playerPositionId" (change)="filter()">
			<option value="0">Všetky posty</option>
			<option *ngFor="let item of playerPositions" [ngValue]="item.id">{{ item.name }}</option>
		</select>
	</div>
</div>

<div id="content">
	<app-player-list *ngIf="enumsLoaded" [players]="players" [expandedView]="true"></app-player-list>
</div>