<div *ngIf="matches != null && matches.opponentTeamId != null">
	<h2>Spoločné Zápasy</h2>
	<!-- <div class="row">
		<div class="right score-cell" [ngStyle]="{'width.%':(50 - goalsForPercentage) | number : '1.2-2' }">
			{{ matches.goalsFor }} Gólov
		</div>
		<div class="score-cell" [ngStyle]="{'width.%':goalsForPercentage | number : '1.2-2' }">
			<div class="score right color6">4Fun</div>
		</div>
		<div class="center score-cell">:</div>
		<div class="score-cell" [ngStyle]="{'width.%':goalsAgainstPercentage | number : '1.2-2' }">
			<div class="score left color99">&#160;</div>
		</div>
		<div class="left score-cell" [ngStyle]="{'width.%':(50 - goalsAgainstPercentage) | number : '1.2-2' }">
			{{ matches.goalsAgainst }} Gólov
		</div>
	</div> -->
	<div style="display:table;width:100%;">
		<div style="display:table-cell;width:50%;">
			<div>
				<canvas baseChart [datasets]="goalsChartData" [labels]="goalsChartLabels" [options]="goalsChartOptions"
					[legend]="goalsChartLegend" [chartType]="goalsChartType">
				</canvas>
			</div>
		</div>
		<div style="display:table-cell;width:50%;">
			<div>
				<canvas baseChart [datasets]="resultsChartData" [labels]="resultsChartLabels" [options]="resultsChartOptions"
					[legend]="resultsChartLegend" [chartType]="resultsChartType">
				</canvas>
			</div>
		</div>
	</div>
	<br />
</div>

<div *ngIf="matches != null && matches.matches != null && matches.matches.length > 1">
	<div class="timeline-row" [ngClass]="{
			'tl-normal' : matches.gamesPlayed < 31, 
			'tl-tight' : matches.gamesPlayed > 30 && matches.gamesPlayed < 101, 
			'tl-super-tight' : matches.gamesPlayed > 100, 
			'hide-text': matches.gamesPlayed > 30}">
		<div *ngFor="let match of matches.matches.slice().reverse()">
			<a href="/match/{{ match.id }}"
				class="{{ getMatchColor(match) }}">{{ match.homeTeamScore }}:{{ match.awayTeamScore }}</a>
		</div>
	</div>
</div>

<div class="content">
	<div class="matches-header">
		<div class="left" (click)="sort('dateTime')">Dátum a čas</div>
		<div class="left not-important" (click)="sort('place')">Miesto</div>
		<!-- <div class="left not-important" (click)="sort('matchType')">Match type</div> -->
		<div class="left not-important" (click)="sort('competition')">Súťaž</div>
		<div class="right" (click)="sort('homeTeam')">Domáci</div>
		<div (click)="sort('homeTeamScore')">&#160;</div>
		<div>&#160;</div>
		<div (click)="sort('awayTeamScore')">&#160;</div>
		<div class="left" (click)="sort('awayTeam')">Hostia</div>
	</div>
	<a class="matches-row" *ngFor="let match of matches.matches" href="/match/{{ match.id }}">
		<div class="left">{{ match.dateTime | date:'dd. M. yyyy H:mm' }}</div>
		<div class="left not-important">{{ getEnum('places', match.placeId).name }}</div>
		<!-- <div class="left not-important">{{ getEnum('matchTypes', match.matchTypeId).name }}</div> -->
		<div class="left not-important">{{ getEnum('competitions', match.competitionId).name }}</div>
		<div class="right" [class.winner]="match.homeTeamScore > match.awayTeamScore">
			{{ getEnum('teams', match.homeTeamId).name }}</div>
		<div>{{match.homeTeamScore}}</div>
		<div>:</div>
		<div>{{match.awayTeamScore}}</div>
		<div class="left" [class.winner]="match.homeTeamScore < match.awayTeamScore">
			{{ getEnum('teams', match.awayTeamId).name }}</div>
	</a>
</div>